{% include "task/base.html" %}
{% load static %}

<div class="page-wrapper" id="main-wrapper" data-layout="vertical" data-navbarbg="skin6" data-sidebartype="full"
    data-sidebar-position="fixed" data-header-position="fixed">
    {% if request.user.is_staff %}
    {% include "task/snippets/adheader.html" %}
    {% else %}
    {% include "task/snippets/aside.html" %}
    {% endif %}

<style>
    .crd{
        display: flex;
        justify-content: space-between;
        align-items: center;
    }
    .crdn1{
        display: flex;
        justify-content: space-around;
        align-items: center;
        width:300px;
    }
    .info{
        display:flex;
        flex-direction: column;

    }
    .align-end{
        margin-left: 550px;
    }
    @media (max-width:400px){
      .crdn1 img{
        width: 50px !important;
    }
      .align-end{
          margin-left: 0 !important;
          font-size: 10px !important;
          padding: 4px 4px;
      }

 }
   


</style>
<div class="body-wrapper">
  <!--  Header Start -->
    {% include "task/snippets/header.html" %}
  <!--  Header End -->
  <!--  app list START -->
    {% include "task/snippets/listapp.html" %}
  </div>
  
</div>
