{% load static %}
<aside class="left-sidebar">
    <!-- Sidebar scroll-->
    <div>
      <div class="brand-logo d-flex align-items-center justify-content-between">
        <a href="./index.html" class="text-nowrap logo-img">
            Wetask
        </a>
        <div class="close-btn d-xl-none d-block sidebartoggler cursor-pointer" id="sidebarCollapse">
          <i class="ti ti-x fs-8"></i>
        </div>
      </div>
      <!-- Sidebar navigation-->
      <nav class="sidebar-nav scroll-sidebar" data-simplebar="">
        <ul id="sidebarnav">
            <li class="sidebar-item  {% if 'home' in request.path  %} selected {% endif %}">
                <a class="sidebar-link  {% if 'home' in request.path  %} active {% endif %} " href="{% url 'home' %}" aria-expanded="false">
                  <span>
                    <i class="ti ti-home"></i>
                  </span>
                  <span class="hide-menu">Home</span>
                </a>
              </li>
              <li class="sidebar-item  {% if 'create' in request.path  %} selected {% endif %}">
                <a class="sidebar-link  {% if 'create' in request.path  %} active {% endif %} " href="{% url 'create' %}" aria-expanded="false">
                  <span>
                    <i class="ti ti-plus"></i>
                  </span>
                  <span class="hide-menu">Add Apps</span>
                </a>
              </li>
              <li class="sidebar-item  {% if 'tasks' in request.path  %} selected {% endif %}">
                <a class="sidebar-link  {% if 'tasks' in request.path  %} active {% endif %} " href="{% url 'tasks' %}" aria-expanded="false">
                  <span>
                    <i class="ti ti-files"></i>
                  </span>
                  <span class="hide-menu">submited task</span>
                </a>
              </li>
              <li class="sidebar-item {% if 'profile' in request.path  %} selected {% endif %}">
                <a class="sidebar-link  {% if 'profile' in request.path  %} active {% endif %} " href="{% url 'profile' id=request.user.id %}" aria-expanded="false">
                  <span>
                    <i class="ti ti-user"></i>
                  </span>
                  <span class="hide-menu">profile</span>
                </a>
              </li>
              <li class="sidebar-item">
                {% if request.user.is_authenticated %}
                <a class="sidebar-link " href="{% url 'logout' %}" aria-expanded="false">
                  <span>
                    <i class="ti ti-logout"></i>
                  </span>
                  <span class="hide-menu">Logout</span>
                </a>
                {% else %}
                <a class="sidebar-link " href="{% url 'logout' %}" aria-expanded="false">
                    <span>
                      <i class="ti ti-layout-dashboard"></i>
                    </span>
                    <span class="hide-menu">Logout</span>
                  </a>
                {% endif %}
              </li>


        </ul>
      </nav>
      <!-- End Sidebar navigation -->
    </div>
    <!-- End Sidebar scroll-->
  </aside>