{% load static %}


{% block content %}
<div class="page-wrapper" id="main-wrapper" data-layout="vertical" data-navbarbg="skin6" data-sidebartype="full"
data-sidebar-position="fixed" data-header-position="fixed">
<div
  class="position-relative overflow-hidden radial-gradient min-vh-100 d-flex align-items-center justify-content-center">
  <div class="d-flex align-items-center justify-content-center w-100">
    <div class="row justify-content-center w-100">
      <div class="col-md-8 col-lg-6 col-xxl-4">
        <div class="card mb-0">
          <div class="card-body">
            <div class="container">
                <div class="d-flex flex-column">
                    <p class="m-auto p-2">we've emailed you instructions for setting your password, if an account exists 
                        with the email you entered.
                       You should recieve them shortly. </p>
                    <p class="m-auto p-2">
                        If you don't recieve an email, please make sure you've entered the address you registered with,
                        and check your spam folder.
                    </p>
                    <p class="m-auto p-2"><a href="{% url 'home'%}">Return to home page</a></p>
                </div>
        </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
</div>
{% endblock content %}

    