{% extends "task/base.html" %}
{% load static %}

{% block content %}
<div class="page-wrapper" id="main-wrapper" data-layout="vertical" data-navbarbg="skin6" data-sidebartype="full"
data-sidebar-position="fixed" data-header-position="fixed">
<div
  class="position-relative overflow-hidden radial-gradient min-vh-100 d-flex align-items-center justify-content-center">
  <div class="d-flex align-items-center justify-content-center w-100">
    <div class="row justify-content-center w-100">
      <div class="col-md-8 col-lg-6 col-xxl-4">
        <div class="card mb-0">
          <div class="card-body">
            <h1>Password reset</h1>
            <p>Forgotten your password? Enter your email address below, and we’ll email instructions for setting a new one.</p>
            <form method='post'>
                {% csrf_token %}
              <div class="mb-3">
                <label for="exampleInputEmail1" class="form-label">Email Address</label>
                <input type="email" class="form-control" name='email' id="exampleInputEmail1" aria-describedby="emailHelp">
              </div>
                <input type="submit" value="Reset my password" class="m-3 btn btn-primary">              
            </form>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
</div>
{% endblock content %}

