
{% extends 'task/base.html' %}
{% load static %}
{% block content %}
<div class="page-wrapper" id="main-wrapper" data-layout="vertical" data-navbarbg="skin6" data-sidebartype="full"
data-sidebar-position="fixed" data-header-position="fixed">
<div
  class="position-relative overflow-hidden radial-gradient min-vh-100 d-flex align-items-center justify-content-center">
  <div class="d-flex align-items-center justify-content-center w-100">
    <div class="row justify-content-center w-100">
      <div class="col-md-8 col-lg-6 col-xxl-4">
        <div class="card mb-0">
          <div class="card-body">
            <h1> Create new Password</h1>
            <form method="post"><input type="hidden" name="csrfmiddlewaretoken" value="C8P80V40RCvOGTv9YJxvN93qQjBZZVcBxYOKoiubTUE7BseZcPJVoUrZVpRKzqjz">
                <fieldset class="module aligned">
                  <input class="hidden" autocomplete="username" value="admin@gmail.com" type='hidden'>
                  <div class="form-row field-password1">
                    
                    <div class="flex-container mb-3">
                      <label for="id_new_password1" class='form-label'>New password:</label>
                      <input type="password" class="form-control" name="new_password1" autocomplete="new-password" required="" aria-describedby="id_new_password1_helptext" id="id_new_password1">
                    </div>
                  </div>
                  <div class="form-row field-password2">
                    
                    <div class="flex-container mb-3">
                      <label for="id_new_password2" class='form-label'>Confirm password:</label>
                      <input type="password" class="form-control"  name="new_password2" autocomplete="new-password" required="" id="id_new_password2">
                    </div>
                  </div>
                </fieldset>
                <div class="submit-row">
                  <input type="submit" class='btn btn-primary' value="Change my password">
                </div>
              </form>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
</div>

{% endblock content%}
